.{
    margin: 0px;
    padding: 0px;
    /* background-color: #d1cdcd; */
    background-color: rgb(207, 211, 209);
}
a {
    text-decoration: none;
    background-color: transparent;
    color: white;
}
nav{
    display: flex;
    margin: 80px 100px;
}
.nav-bar-right{
    display: flex;
    padding: 0px 15px;
    text-decoration: wavy;
}
.nav-bar-right p{
    margin: 0px 10px;
}
.nav-bar-right img{
    height: 50px;
    margin-top: -20px;
    
}
.nav-bar-left{
    display: flex;
    justify-content: space-around;
    margin-left: 500px;
    text-decoration: underline;
}
.nav-bar-left ul{
    display: flex;
    justify-content: space-between;
   
}
.nav-bar-left li{
    list-style: none;
    margin: 0px 15px;
}
.nav-bar-button button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -200px;
    margin-left: 10px;
}
.main-body-section{
    display: flex;
    max-width: 1100px;
    margin: auto;
}
.main-body-left{
    max-width: 450px;
    margin: 100px 30px;
}
.main-body-left h2{
    font-size: 31px;
    /* max-width: 400px; */
}
.main-body-left span{
    color: rgba(228, 20, 20, 0.932);
}
.main-body-left p{
    font-size: 15px;
    margin: 20px 0px;    
}
.main-body-left button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.about-text h1,h3{
   color: #975c7d;
 
}

.main-body-right img{
    height: 500px;
}

footer{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    border-bottom: 1px solid rgb(94, 91, 91);

}
footer ul{
    margin: 50px 50px 20px 50px;

}
footer ul li{
    list-style: none;
    margin: 10px 0px;
    font-size: 14px;
}
.boldened{
    font-size: 16px;
    font-weight: 800;
}
.socials{
    display: flex;
    padding: 20px 40px 0px 60px;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
} 
.socials-img{
    display: flex;
}
.socials-img img{
    /* height: 50px; */
    display: flex;
}
.socials-img{
    list-style: none;
}
.socials-img li{
 
    margin: 0px 8px;
}
.socials-right{
    margin: 0px 2px;
   
}






.banner{
    background-image: url(appoint.jpg);
    height: 150vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

form {
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    margin: auto;
}

#briefNote{
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.form-button button {
    background-color: #d13b0e;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #6d8164;
}

